
/* Canvas Container Alignment */
#gameContainer {
  text-align: center;
}

/* Border of the canvas */
#gameBoard {
  border: 3px solid;
}

#generationCount {
  font-family:'Times New Roman', Times, serif;
  font-size: 100px;
}

#startstopBtn, #stepBtn, #clearBtn, #randomBtn {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 100px;
  height: 50px;
  border: 4px solid;
  border-radius: 12px;
}



/* Cell borders */


